workflows/EvaRoomBot.json
{
  "name": "EvaRoomBot - Telegram Bot для проверки контрагентов",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ]
      },
      "id": "telegram-trigger-001",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "evaroombot-webhook",
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot API"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "dadataApiUrl",
              "value": "https://suggestions.dadata.ru/suggestions/api/4_1/rs/findById/party"
            },
            {
              "name": "dadataToken",
              "value": "={{$env.DADATA_TOKEN}}"
            },
            {
              "name": "dadataSecret",
              "value": "={{$env.DADATA_SECRET}}"
            },
            {
              "name": "botName",
              "value": "EvaRoomBot"
            },
            {
              "name": "botVersion",
              "value": "1.0"
            }
          ]
        },
        "options": {}
      },
      "id": "workflow-config-001",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "functionCode": "// FSM (Finite State Machine) для управления состоянием пользователя\nconst staticData = this.getWorkflowStaticData('global');\n\nif (!staticData.userStates) {\n  staticData.userStates = {};\n}\n\nconst chatId = items[0].json.message?.chat?.id || items[0].json.callback_query?.message?.chat?.id;\nconst messageText = items[0].json.message?.text || '';\nconst callbackData = items[0].json.callback_query?.data || '';\n\nif (!staticData.userStates[chatId]) {\n  staticData.userStates[chatId] = {\n    state: 'IDLE',\n    lastUpdate: Date.now()\n  };\n}\n\n// Очистка старых состояний (старше 24 часов)\nconst now = Date.now();\nfor (const id in staticData.userStates) {\n  if (now - staticData.userStates[id].lastUpdate > 86400000) {\n    delete staticData.userStates[id];\n  }\n}\n\nconst currentState = staticData.userStates[chatId];\n\n// Обновление времени последней активности\ncurrentState.lastUpdate = now;\n\n// Определение типа сообщения\nlet messageType = 'unknown';\nif (messageText.startsWith('/')) {\n  messageType = 'command';\n  currentState.state = 'MENU';\n} else if (callbackData) {\n  messageType = 'callback';\n  // Устанавливаем состояние в зависимости от callback\n  if (callbackData === 'check_company' || callbackData === 'score_company') {\n    currentState.state = 'WAIT_INN';\n  } else if (callbackData === 'check_person') {\n    currentState.state = 'WAIT_PERSON';\n  } else if (callbackData === 'check_contract') {\n    currentState.state = 'WAIT_CONTRACT';\n  } else if (callbackData === 'about_bot') {\n    currentState.state = 'IDLE';\n  }\n} else if (messageText && currentState.state !== 'IDLE' && currentState.state !== 'MENU') {\n  messageType = 'text_search';\n} else {\n  messageType = 'text';\n}\n\nreturn [{\n  json: {\n    ...items[0].json,\n    sessionState: {\n      chatId: chatId,\n      state: currentState.state,\n      messageType: messageType,\n      messageText: messageText,\n      callbackData: callbackData\n    }\n  }\n}];"
      },
      "id": "session-state-001",
      "name": "Session State",
      "type": "n8n-nodes-base.functionItem",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "rules": [
            {
              "conditions": {
                "all": [
                  {
                    "field": "={{$json.sessionState.messageType}}",
                    "operation": "equals",
                    "value": "command"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "commands"
            },
            {
              "conditions": {
                "all": [
                  {
                    "field": "={{$json.sessionState.messageType}}",
                    "operation": "equals",
                    "value": "callback"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "callbacks"
            },
            {
              "conditions": {
                "all": [
                  {
                    "field": "={{$json.sessionState.messageType}}",
                    "operation": "equals",
                    "value": "text_search"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "text_search"
            }
          ]
        },
        "options": {}
      },
      "id": "router-001",
      "name": "Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "chatId": "={{$json.sessionState.chatId}}",
        "text": "Добро пожаловать в EvaRoomBot! 🚀\n\nЯ помогу вам:\n✅ Проверить контрагента по ИНН/ОГРН\n📊 Провести скоринг надёжности компании\n👤 Проверить физическое лицо\n📄 Валидировать реквизиты договора\n\nВыберите действие:",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "🏢 Проверка контрагента",
                    "callbackData": "check_company"
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "📊 Скоринг контрагента",
                    "callbackData": "score_company"
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "👤 Проверка физлица",
                    "callbackData": "check_person"
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "📄 Проверка договора",
                    "callbackData": "check_contract"
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "ℹ️ О боте",
                    "callbackData": "about_bot"
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "id": "send-welcome-menu-001",
      "name": "Send Welcome Menu",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1050, 100],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot API"
        }
      }
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "rules": [
            {
              "conditions": {
                "all": [
                  {
                    "field": "={{$json.sessionState.callbackData}}",
                    "operation": "equals",
                    "value": "check_company"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "check_company"
            },
            {
              "conditions": {
                "all": [
                  {
                    "field": "={{$json.sessionState.callbackData}}",
                    "operation": "equals",
                    "value": "score_company"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "score_company"
            },
            {
              "conditions": {
                "all": [
                  {
                    "field": "={{$json.sessionState.callbackData}}",
                    "operation": "equals",
                    "value": "check_person"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "check_person"
            },
            {
              "conditions": {
                "all": [
                  {
                    "field": "={{$json.sessionState.callbackData}}",
                    "operation": "equals",
                    "value": "check_contract"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "check_contract"
            },
            {
              "conditions": {
                "all": [
                  {
                    "field": "={{$json.sessionState.callbackData}}",
                    "operation": "equals",
                    "value": "about_bot"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "about_bot"
            }
          ]
        },
        "options": {}
      },
      "id": "route-actions-001",
      "name": "Route Actions",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "chatId": "={{$json.sessionState.chatId}}",
        "text": "🏢 Проверка контрагента\n\nВведите ИНН или ОГРН компании для получения подробной информации.",
        "additionalFields": {}
      },
      "id": "ask-inn-check-001",
      "name": "Ask INN for Check",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1250, 200],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot API"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{$json.sessionState.chatId}}",
        "text": "📊 Скоринг контрагента\n\nВведите ИНН компании для проведения автоматической оценки надёжности.",
        "additionalFields": {}
      },
      "id": "ask-inn-score-001",
      "name": "Ask INN for Scoring",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1250, 300],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot API"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{$json.sessionState.chatId}}",
        "text": "👤 Проверка физического лица\n\nВведите данные в формате:\nФИО, дата рождения (ДД.ММ.ГГГГ), ИНН",
        "additionalFields": {}
      },
      "id": "ask-person-data-001",
      "name": "Ask Person Data",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1250, 400],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot API"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{$json.sessionState.chatId}}",
        "text": "📄 Проверка реквизитов договора\n\nВведите данные в формате:\nИНН, КПП, БИК, номер счёта",
        "additionalFields": {}
      },
      "id": "ask-contract-data-001",
      "name": "Ask Contract Data",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1250, 500],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot API"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{$json.sessionState.chatId}}",
        "text": "ℹ️ О боте EvaRoomBot\n\n🤖 Версия: 1.0\n📅 Обновлено: Декабрь 2024\n\n🎯 Возможности:\n• Проверка контрагентов по данным ФНС\n• Автоматический скоринг надёжности (0-100 баллов)\n• Анализ 30+ критериев оценки\n• Проверка физических лиц\n• Валидация реквизитов договоров\n\n📊 Источники данных:\n• DaData API (ФНС, судебные реестры)\n• ФССП (исполнительные производства)\n• Реестр недобросовестных поставщиков\n\n💡 Бот использует комплексную скоринговую систему с учётом:\n- Юридического статуса и возраста компании\n- Финансовых показателей\n- Долгов и задолженностей\n- Судебной активности\n- Качества менеджмента\n- Репутационных факторов\n\n⚡️ Команды:\n/start - Главное меню\n/help - Помощь\n\n📧 Поддержка: support@evacorebot.com",
        "additionalFields": {}
      },
      "id": "send-about-info-001",
      "name": "Send About Info",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1250, 600],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$('Workflow Configuration').first().json.dadataApiUrl}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Token ={{$('Workflow Configuration').first().json.dadataToken}}"
            },
            {
              "name": "X-Secret",
              "value": "={{$('Workflow Configuration').first().json.dadataSecret}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{$json.sessionState.messageText}}"
            }
          ]
        },
        "options": {}
      },
      "id": "dadata-find-company-001",
      "name": "DaData Find Company",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1050, 500]
    },
    {
      "parameters": {
        "functionCode": "// Комплексная скоринговая система для оценки контрагентов\n// Базовая оценка: 50 баллов, затем применяются критерии с весами\n\nconst items = $input.all();\nconst d = items[0].json.suggestions?.[0]?.data;\n\nif (!d) {\n  return [{\n    json: {\n      found: false,\n      message: \"❌ Контрагент не найден в базе данных.\"\n    }\n  }];\n}\n\n// Базовая оценка\nlet score = 50;\nconst redMarkers = [];\nconst yellowMarkers = [];\nconst greenMarkers = [];\n\n// === 1. РЕГИСТРАЦИЯ И ЮРИДИЧЕСКИЙ СТАТУС ===\n\n// Статус компании\nswitch(d.state?.status) {\n  case 'ACTIVE':\n    // Нейтральный, не изменяем балл\n    break;\n  case 'LIQUIDATING':\n    score -= 25;\n    redMarkers.push('⛔ Компания в процессе ликвидации (-25)');\n    break;\n  case 'BANKRUPT':\n    score -= 25;\n    redMarkers.push('⛔ Компания признана банкротом (-25)');\n    break;\n  case 'LIQUIDATED':\n    score -= 25;\n    redMarkers.push('⛔ Компания ликвидирована (-25)');\n    break;\n  default:\n    score -= 20;\n    yellowMarkers.push(`⚠️ Неопределенный статус: ${d.state?.status} (-20)`);\n}\n\n// Возраст компании\nif (d.state?.registration_date) {\n  const regDate = new Date(d.state.registration_date);\n  const years = (Date.now() - regDate.getTime()) / (1000 * 60 * 60 * 24 * 365);\n  \n  if (years < 1) {\n    score -= 15;\n    yellowMarkers.push('⚠️ Компания менее 1 года (-15)');\n  } else if (years >= 1 && years < 3) {\n    score -= 5;\n    yellowMarkers.push(`⚠️ Молодая компания: ${Math.floor(years)} лет (-5)`);\n  } else if (years >= 10 && years < 20) {\n    score += 5;\n    greenMarkers.push(`✅ Опыт работы: ${Math.floor(years)} лет (+5)`);\n  } else if (years >= 20) {\n    score += 10;\n    greenMarkers.push(`✅ Большой опыт: ${Math.floor(years)} лет (+10)`);\n  }\n}\n\n// Недостоверность сведений\nif (d.state?.status === 'UNRELIABLE') {\n  score -= 20;\n  redMarkers.push('🚫 Недостоверные сведения в ФНС (-20)');\n}\n\n// Массовый адрес\nif (d.address?.data?.qc === '10') {\n  score -= 10;\n  yellowMarkers.push('⚠️ Массовый адрес регистрации (-10)');\n}\n\n// Уставный капитал\nconst capital = parseFloat(d.capital?.value) || 0;\nif (capital > 0) {\n  if (capital <= 10000) {\n    score -= 5;\n    yellowMarkers.push('💸 Минимальный уставный капитал (-5)');\n  } else if (capital >= 1000000) {\n    score += 5;\n    greenMarkers.push('💰 Крупный уставный капитал (+5)');\n  }\n}\n\n// === 2. ФИНАНСОВЫЕ ПОКАЗАТЕЛИ ===\n\n// Численность сотрудников\nconst employees = parseInt(d.employees?.value) || 0;\nif (employees <= 1) {\n  score -= 10;\n  yellowMarkers.push('⚠️ Минимальная численность сотрудников (-10)');\n} else if (employees > 50) {\n  score += 5;\n  greenMarkers.push(`✅ Крупный штат: ${employees} чел. (+5)`);\n}\n\n// Финансовый результат\nif (d.finance?.profit !== undefined) {\n  const profit = parseFloat(d.finance.profit);\n  if (profit < 0) {\n    score -= 5;\n    redMarkers.push('📉 Убытки по финансовой отчётности (-5)');\n  } else if (profit > 0) {\n    score += 5;\n    greenMarkers.push('📈 Прибыль по финансовой отчётности (+5)');\n  }\n}\n\n// Выручка\nif (d.finance?.revenue !== undefined) {\n  const revenue = parseFloat(d.finance.revenue);\n  if (revenue > 0) {\n    if (revenue < 1000000) {\n      score -= 5;\n      yellowMarkers.push('⚠️ Низкая выручка (<1 млн ₽) (-5)');\n    } else if (revenue >= 10000000 && revenue < 100000000) {\n      score += 3;\n      greenMarkers.push('✅ Стабильная выручка (10-100 млн ₽) (+3)');\n    } else if (revenue >= 100000000) {\n      score += 5;\n      greenMarkers.push('✅ Крупная выручка (≥100 млн ₽) (+5)');\n    }\n  }\n}\n\n// Чистые активы\nif (d.finance?.assets !== undefined) {\n  const assets = parseFloat(d.finance.assets);\n  if (assets < 0) {\n    score -= 10;\n    redMarkers.push('📊 Отрицательные чистые активы (-10)');\n  }\n}\n\n// === 3. ДОЛГИ И ЗАДОЛЖЕННОСТЬ ===\n\n// Задолженность по налогам\nif (d.finance?.tax_debt !== undefined && d.finance.tax_debt > 0) {\n  score -= 10;\n  redMarkers.push(`💳 Задолженность по налогам: ${d.finance.tax_debt} ₽ (-10)`);\n}\n\n// Блокировка счетов\nif (d.state?.actuality_date && d.finance?.penalty !== undefined && d.finance.penalty > 0) {\n  score -= 5;\n  yellowMarkers.push('⚠️ Штрафы и пени (-5)');\n}\n\n// === 4. СУДЕБНАЯ АКТИВНОСТЬ ===\n\n// Арбитражные дела\nif (d.documents?.fts_report?.defendant_count !== undefined) {\n  const defendantCases = parseInt(d.documents.fts_report.defendant_count);\n  if (defendantCases > 5) {\n    score -= 10;\n    redMarkers.push(`⚖️ Множество судебных дел (${defendantCases}) (-10)`);\n  } else if (defendantCases === 0 && years > 3) {\n    score += 5;\n    greenMarkers.push('✅ Отсутствие судебных споров (+5)');\n  }\n}\n\n// === 5. МЕНЕДЖМЕНТ И УПРАВЛЕНИЕ ===\n\n// Массовый руководитель\nif (d.management?.head?.type === 'LEGAL' || d.management?.head?.manager_count > 10) {\n  score -= 15;\n  redMarkers.push('👤 Массовый руководитель (-15)');\n}\n\n// Дисквалификация руководителя\nif (d.management?.head?.disqualified === true) {\n  score -= 25;\n  redMarkers.push('🚫 Дисквалифицированный руководитель (-25)');\n}\n\n// Массовый учредитель\nif (d.founders && Array.isArray(d.founders)) {\n  const massFounders = d.founders.filter(f => f.manager_count > 10);\n  if (massFounders.length > 0) {\n    score -= 15;\n    redMarkers.push('👥 Массовый учредитель (-15)');\n  }\n}\n\n// === 6. СТРУКТУРА И РЕПУТАЦИЯ ===\n\n// Филиалы\nif (d.branch_count !== undefined && d.branch_count > 3) {\n  score += 5;\n  greenMarkers.push(`✅ Развитая филиальная сеть: ${d.branch_count} (+5)`);\n}\n\n// Форма собственности - ПАО\nif (d.opf?.code === '12247') {\n  score += 5;\n  greenMarkers.push('✅ Публичное акционерное общество (+5)');\n}\n\n// Системно значимая компания\nif (capital >= 10000000000) {\n  score += 5;\n  greenMarkers.push('✅ Системно значимая компания (+5)');\n}\n\n// Принадлежность холдингу\nif (capital >= 1000000000 || (d.branch_count && d.branch_count > 10)) {\n  score += 5;\n  greenMarkers.push('✅ Принадлежность крупному холдингу (+5)');\n}\n\n// Отсутствие негативных маркеров\nif (redMarkers.length === 0 && yellowMarkers.length === 0 && d.state?.status === 'ACTIVE') {\n  score += 5;\n  greenMarkers.push('✅ Отсутствие негативных маркеров (+5)');\n}\n\n// Нормализация оценки (0-100)\nscore = Math.max(0, Math.min(100, score));\n\n// Определение уровня риска и рекомендаций\nlet level, riskLevel, recommendation, paymentTerms;\n\nif (score >= 95) {\n  level = '🟢 Наивысшая надёжность';\n  riskLevel = 'Минимальный';\n  recommendation = 'Контрагент заслуживает максимального доверия.';\n  paymentTerms = 'Отсрочка до 60 дней';\n} else if (score >= 85) {\n  level = '🟢 Высокая надёжность';\n  riskLevel = 'Минимальный';\n  recommendation = 'Риск минимален, можно работать на льготных условиях.';\n  paymentTerms = 'Отсрочка до 45 дней';\n} else if (score >= 75) {\n  level = '🟡 Невысокий риск';\n  riskLevel = 'Небольшой';\n  recommendation = 'Рекомендуется работа на стандартных условиях.';\n  paymentTerms = 'Отсрочка до 30 дней';\n} else if (score >= 65) {\n  level = '🟡 Умеренный риск';\n  riskLevel = 'Средний';\n  recommendation = 'Возможна работа с контролем расчётов.';\n  paymentTerms = 'Отсрочка до 14 дней';\n} else if (score >= 50) {\n  level = '🟠 Средний риск';\n  riskLevel = 'Значительный';\n  recommendation = 'Допустима короткая отсрочка при тщательном контроле.';\n  paymentTerms = 'Отсрочка до 7 дней';\n} else if (score >= 30) {\n  level = '🔴 Высокий риск';\n  riskLevel = 'Высокий';\n  recommendation = 'Ограниченные условия работы.';\n  paymentTerms = 'Предоплата минимум 40%, остаток до отгрузки';\n} else {\n  level = '🔴 Крайне высокий риск';\n  riskLevel = 'Критический';\n  recommendation = 'Работа только по полной предоплате.';\n  paymentTerms = '100% предоплата';\n}\n\nreturn [{\n  json: {\n    found: true,\n    company: d.name?.full_with_opf || d.name?.short_with_opf || 'Неизвестно',\n    inn: d.inn,\n    ogrn: d.ogrn,\n    kpp: d.kpp,\n    address: d.address?.value || 'Не указан',\n    status: d.state?.status || 'Неизвестно',\n    registrationDate: d.state?.registration_date || 'Не указана',\n    capital: capital,\n    employees: employees,\n    score: score,\n    level: level,\n    riskLevel: riskLevel,\n    recommendation: recommendation,\n    paymentTerms: paymentTerms,\n    markers: {\n      red: redMarkers,\n      yellow: yellowMarkers,\n      green: greenMarkers\n    },\n    chatId: items[0].json.sessionState?.chatId\n  }\n}];"
      },
      "id": "calculate-scoring-001",
      "name": "Calculate Scoring",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 500]
    },
    {
      "parameters": {
        "chatId": "={{$json.chatId}}",
        "text": "=📊 **СКОРИНГ КОНТРАГЕНТА**\\n\\n**{{$json.company}}**\\n\\n📋 **Реквизиты:**\\nИНН: `{{$json.inn}}`\\nОГРН: `{{$json.ogrn}}`\\nКПП: `{{$json.kpp}}`\\n\\n📍 Адрес: {{$json.address}}\\n📅 Дата регистрации: {{$json.registrationDate}}\\n💼 УК: {{$json.capital}} ₽\\n👥 Сотрудников: {{$json.employees}}\\n\\n━━━━━━━━━━━━━━━━━\\n\\n**{{$json.level}}**\\n**Оценка: {{$json.score}} / 100**\\n\\n🎯 Уровень риска: {{$json.riskLevel}}\\n\\n💬 **Рекомендация:**\\n{{$json.recommendation}}\\n\\n💳 **Рекомендуемые условия платежа:**\\n{{$json.paymentTerms}}\\n\\n━━━━━━━━━━━━━━━━━\\n\\n{{$json.markers.green.length > 0 ? '✅ **Положительные маркеры:**\\n' + $json.markers.green.join('\\n') : ''}}\\n\\n{{$json.markers.yellow.length > 0 ? '⚠️ **Предупреждения:**\\n' + $json.markers.yellow.join('\\n') : ''}}\\n\\n{{$json.markers.red.length > 0 ? '❌ **Негативные маркеры:**\\n' + $json.markers.red.join('\\n') : '✅ Негативные маркеры отсутствуют'}}\\n\\n━━━━━━━━━━━━━━━━━\\n\\n_Данные актуальны на {{new Date().toLocaleDateString('ru-RU')}}_\\n_Источник: DaData (ФНС, судебные реестры)_",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "send-scoring-result-001",
      "name": "Send Scoring Result",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1450, 500],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot API"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{$json.sessionState.chatId}}",
        "text": "={{$json.found ? '✅ Компания найдена!\\n\\nНазвание: ' + $json.company + '\\nИНН: ' + $json.inn + '\\nОГРН: ' + $json.ogrn + '\\nСтатус: ' + $json.status : '❌ Компания не найдена в базе данных.'}}",
        "additionalFields": {}
      },
      "id": "send-company-info-001",
      "name": "Send Company Info",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1250, 700],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot API"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Session State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Session State": {
      "main": [
        [
          {
            "node": "Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router": {
      "main": [
        [
          {
            "node": "Send Welcome Menu",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Route Actions",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DaData Find Company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Actions": {
      "main": [
        [
          {
            "node": "Ask INN for Check",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ask INN for Scoring",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ask Person Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ask Contract Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send About Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DaData Find Company": {
      "main": [
        [
          {
            "node": "Calculate Scoring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Scoring": {
      "main": [
        [
          {
            "node": "Send Scoring Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "id": "evaroombot-workflow",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "evaroombot-instance"
  },
  "tags": [
    {
      "createdAt": "2024-12-06T00:00:00.000Z",
      "updatedAt": "2024-12-06T00:00:00.000Z",
      "id": "1",
      "name": "telegram-bot"
    },
    {
      "createdAt": "2024-12-06T00:00:00.000Z",
      "updatedAt": "2024-12-06T00:00:00.000Z",
      "id": "2",
      "name": "scoring"
    },
    {
      "createdAt": "2024-12-06T00:00:00.000Z",
      "updatedAt": "2024-12-06T00:00:00.000Z",
      "id": "3",
      "name": "dadata"
    }
  ]
}
